<div class="card">
  <img src="images/nikeblackshoe.png" alt="Nike Black Shoes" class="card-img">
  <div class="card-body">
    <div class="card-title">
      <h3 >Nike Air Max Plus</h3> 
     </div>
    <p class="card-text">The Nike Air Max Plus III combines ultra-comfortable Tuned Air Technology...</p>
    </div>
  <div class="card-footer">
    
    <div class="card-price">
      Price: $320.50
    
    </div>
  </div>
</div>