<!DOCTYPE html>
<html lang="en">

<head>
  <title>SneakElite - Home Page</title>
  
   <!-- Meta Information -->
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  
  <!--Font links-->
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  
 <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
 <!-- Top nav bar (fixed) -->
</head>
<body>
    <!-- Top nav bar (fixed) -->
    <nav>
        <span class="nav-logo">
          <img src="images/logo.png" alt="SneakElite Logo">  
          SneakElite
          </span> 
          <!-- Combined Menu -->
        <ul class="menu-list">
          <li class="menu-item"><a href="#home" class="menu-link">Home</a></li>
          <li class="menu-item"><a href="#WishList" class="menu-link">  WishList</a></li>
          <li class="menu-item"><a href="#My-Listing" class="menu-link">My Listing</a></li>

      </ul>
          <div class="header__user-actions">
            <a href="/login" class="button button--login">Login/SignUp</a>
        </div>
        
    </nav>

    
</header>

<h1>Have fun! 🥔</h1>

</body>
</html>