body {
  display: block;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: white;

}



* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}
button {
  all: unset;
}

button:focus {
  outline: revert;
}


.container {
  max-width: 1200px;
  margin: auto;

  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  margin-top: 50px;
}
h1, h2{
  margin-bottom: 20px;
}

  .card-body {
    width: auto;
  }

// /* itemdes.css */

// .add-to-cart-btn {

//   background-color: #3498db;
//   color: #fff;

// }

// .cancel-btn {
//   background-color: #e74c3c;
//   color: #fff;
// }

#filterForm {
  margin-bottom: 5em;
}

.btn{
box-sizing: border-box;
color:black;
text-align:center;
margin-left: 1em;
border-color: black;
outline-style: solid;
padding: 3.5px 3.5px 3.5px 3.5px;
}

.btn:hover{
  color: green;
}
